@{
    ViewData["Title"] = "Vista demo";
}
<p>Esta es unas vista parcial</p>


<!--
    Asi se crea una vista parcial
    tener cuidado y buscar por endpoint
    home/VistaDemo
-->

@Html.Partial("/Views/Shared/_VistaParcialDemo.cshtml");

