<!--El cshtml me recone que es blazor-->
<!--Le decimos que va a recibir una coleccion de productos
    que es la que se encuentra en el controlador
-->
@model IEnumerable<Api_Mvc.Models.Producto>

<p>Esta vista es el controlador Producto</p>
<h>Productos</h>
<div>
    <table class ="table">
        <th>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Fecha de alta
                </th>
                <tbody>
                    <!--Para cada producto que esta en la coleccion producto solicito esta info
                        chequear producto.Informacion que necesito
                    -->
                        @foreach (Api_Mvc.Models.Producto producto in @Model)
                        {
                            <tr>
                                <td>@producto.Nombre</td>
                                <td>@producto.Descripcion</td>
                                <td>@producto.Precio</td>
                                <td>@producto.FechaDeAlta</td>
                            </tr>
                        }
                </tbody>
            </tr>
        </th>

    </table>
</div>
